%h3 Listing posts

%div{class: "table-responsive"}
  %table{class: "table table-striped"}
    %thead
      %tr
        %th Title
        %th Content
        %th Name

    %tbody
      - @posts.each do |post|
        %tr
          %td= link_to post.title, post
          %td= post.content
          %td= post.name
          %td
            = link_to '', edit_post_path(post), class: 'glyphicon glyphicon-pencil'
            -# These two delete actions produce identical output
            -#= link_to "<span class='glyphicon glyphicon-remove'></span>".html_safe,
            -#    event, method: :delete, data: { confirm: 'Are you sure?' }
            = link_to post, method: :delete, confirm: 'Are you sure?'  do
              %span:{class: 'glyphicon glyphicon-remove'}



%br

= link_to 'New Post', new_post_path
